---
---

$main-font: sans-serif
$page-background: #333333
$content-background: #ffffff
$content-text: #544240
$header-background: #4d4d4d
$header-text: #ffffff
$menu-background: #f18137
$menu-text: #ffffff
$footer-text: #7f7f7f
$well-background: #ccc
$link-color: #018cb0
$light-color: #666

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  color: $content-text

a
  color: $link-color

#main-container
  background-color: $content-background

.popover
  max-width: 100%

.navbar-inverse
  background-color: $menu-background

  a.navbar-brand
    color: $menu-text

  .navbar-nav
    li
      a
        color: $menu-text
        font-weight: bold

    li.open
      background-color: $menu-background

      a.dropdown-toggle
        background-color: $menu-background

    ul.dropdown-menu
      background-color: $content-background
      color: $content-text

      li
        background-color: $content-background
        color: $content-text

        a
          background-color: $content-background
          color: $content-text
          font-weight: normal

article.post
  div.meta
    font-size: 80%
    color: $light-color
    margin-top: .8em
    margin-bottom: .5em

.gist-data
  max-height: 300px
  overflow: auto

body
  background-color: $page-background
  margin: 50px 0 0 0

  .well, .jumbotron
    background-color: $well-background
    color: $content-text

    small
      color: $content-background

  .jumbotron
    margin-top: 20px

  #about-well-image
    img
      padding-right: 1em

  #keywords-button
    font-size: 50%
    color: #7f7f7f
    font-weight: normal
    text-decoration: none

  #keywords-button:hover
    background-color: #4d4d4d
    color: #ffffff
    cursor: pointer

  .keyword-first-letter
    font-weight: bold
    color: #f18137

  .i
    font-style: italic

  .b
    font-weight: bold

  .post
    margin-bottom: 2em

  p.article-date
    text-indent: 0
    font-size: 80%
    color: #7f7f7f

  .paginator
    margin: .5em 0

  .plusone-container
    margin-left: 1em
    display: inline
