.year {
	font-weight: bold;
	text-align: center;
	font-size: 200%;
	cursor: pointer;
}

.holiday {
	text-align: center;
	font-size: 150%;
	font-weight: bold;
	margin: .5em 0;
}

table.month {
	float: left;
	border: 2px solid black;
	margin-right: 1em;
	margin-bottom: 1em;
	border-collapse: collapse;
	position: relative;
}

.clear {
	float: none;
	clear: both;
}

.month-row {
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

td {
	text-align: center;
	padding: .1em;
	white-space: nowrap;
	border: 1px solid black;
}

.monthname td {
	font-weight: bold;
	border: 1px solid black;
}

.daynames {
	border-bottom: 2px solid black;
}

.daynames td {
	font-weight: bold;
	border: 1px solid black;
	width: 16.66%;
}

.prevYear {
	float: left;
	cursor: pointer;
}

.nextYear {
	float: right;
	cursor: pointer;
}

.today {
	background-color: #a5ffff;
}

.date-popover {
    text-align: center;
}
