<p>
    Gergely Polonkai is a systems engineer of a telco company, and
    also a freelancer self- and software developer.
</p>

<p>
    He is learning about different IT subjects since the late
    1990s. These include web development, application building,
    systems engineering, IT security and many others. He also dug his
    nose deeply into free software, dealing with different types of
    Linux and its applications,
    while also writing and contributing to some open source projects.
</p>

<p>
    On this site he is writing posts about different stuff he faces
    during work (oh my, yet another IT solutions blog), hoping they
    can help others with their job, or just to get along with their
    brand new netbook that shipped with Linux.
</p>

<p>
    “I believe one can only achieve success if they follow their own
    instincts and listen to, but not bend under others’ opinions. If
    you change your course just because someone says so, you are
    following their instincts, not yours.”
</p>
