---
layout: page
title: Blog
---

{% include pagination.html %}

{% for post in paginator.posts %}
<article class="post">
    <header>
        <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p class="article-date">{{ post.date | date: "%b %-d, %Y" }} :: {{ post.date | date: "%H:%M" }} by {{ site.name }}</p>
    </header>
    {{ post.excerpt }}
    <footer>
        <p class="article-tags">
            Tags:
            {% for tag in post.tags %}
            {{ tag }}
            {% endfor%}
        </p>
    </footer>
</article>
{% endfor %}

{% include pagination.html %}
