---
layout: default
render_post: true
---
{% assign post = page %}
{% include blog-post.html %}
<div class="g-plus" data-action="share" data-height="15"></div>

<nav>
    <ul class="pager">
{% if page.previous %}
        <li><a href="{{page.previous.url | prepend: site.baseurl}}">&larr; {{page.previous.title}}</a></li>
{% endif %}
{% if page.next %}
        <li><a href="{{page.next.url | prepend: site.baseurl}}">{{page.next.title}} &rarr;</a></li>
{% endif %}
    </ul>
</nav>

{% include disqus.html %}
